@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>your order list:</h1>
<div class="foodContainer">
    <!-- The content will be dynamically added here by the JavaScript code -->
</div>


<script src="~/js/list.js"></script>