@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <!-- Buttons for Food and Drinks -->
    <div class="btn-group mt-4" role="group">
        <button type="button" class="btn btn-primary" onclick="getFood()">Food</button>
        <button type="button" class="btn btn-success" onclick="getDrinks()">Drinks</button>
    </div>

    <!-- Container for cards -->
    <div id="foodContainer" class="row mt-4"></div>
</div>

    <!-- ... Previous HTML code ... -->
<script src="~/js/addtocart.js"></script>

<!-- ... Remaining HTML code ... -->
