@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <!-- Buttons for Food and s -->
    <div class="btn-group mt-4" role="group">
    </div>

    <!-- Container for cards -->
    <div id="foodContainer" class="row mt-4"></div>
</div>

    <!-- ... Previous HTML code ... -->
<script src="~/js/addtocart.js"></script>

<!-- ... Remaining HTML code ... -->
